/* Constans */
:root {
  --white-color: #ffffff;
  --dark-color: #000000;

  --white-bgcolor: #ffffff;
  --dark-bgcolor: #2f303a;
  --light-bgcolor: #f5f4fa;

  --post-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
}

* {
  outline: 1px solid tomato;
}

/* Common  */

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  background-color: var(--white-color);
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.center {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  text-transform: uppercase;
}

h4 {
  color: var(--title-text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  color: var(--post-text-color);
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--white-bgcolor);
}

.header .logo {
  margin-right: 92px;
}

.logo-web {
  color: var(--accent-color);
}

.header .logo-studio {
  color: var(--dark-color);
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.nav-link,
.header-contact {
  display: inline-block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-text-color);
}

.header-contact {
  padding: 32px auto;
  color: var(--post-text-color);
}

.nav-link:focus,
.header-contact:focus,
.nav-link:hover,
.header-contact:hover {
  color: var(--accent-color);
}

.nav-list > .nav-item:not(:last-child),
.header-contacts > .header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}

/* Slider */
.slider {
  padding: 200px 0;
  background-color: var(--dark-bgcolor);
}

.title {
  margin: 0 auto 35px;
  color: var(--white-color);
}

.btn-slider {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: var(--white-color);
  background-color: var(--accent-color);
}

.btn-slider:focus,
.btn-slider:hover {
  background-color: var(--accent-btn-color);
}

/* Section plus */
.section-plus {
}
.plus-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.plus-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--post-text-color);
}
/* Section services */
.section-services {
}
/* Our team  */
.section-team {
  background-color: var(--light-bgcolor);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--post-text-color);
}
/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bgcolor);
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .logo-studio {
  color: var(--white-color);
}

.address-link {
  display: inline-block;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-contact {
  display: block;
  padding: 4px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.6);
}

/* .footer-address,
.footer-contact:not(:last-child) {
  padding-bottom: 9px;
} */

/* Portfolio project */
.portfolio {
  margin-top: 108px;
}

.filter-list {
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  display: inline-block;
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  border-style: none;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--light-bgcolor);
}

.btn-filter:focus,
.btn-filter:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--post-text-color);
}

/* Current link  */
.current {
  color: var(--accent-color);
}

/* Active button */
.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Hidden element  */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
