/* --------------------------
          WebStudio
-------------------------- */

/* Constans */

:root {
  --white-color: #ffffff;
  --dark-color: #000000;
  --icon-color: #afb1b8;

  --white-bgcolor: #ffffff;
  --dark-bgcolor: #2f303a;
  --light-bgcolor: #f5f4fa;

  --post-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;

  --animation-duration: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common  */

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;

  letter-spacing: 0.06em;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.center {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  text-transform: uppercase;
}

p {
  color: var(--post-text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-heading {
  margin: 0 auto 50px;
}

.social-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 44px;
  height: 44px;
  border-radius: 44px;
  color: var(--icon-color);

  transition-property: color, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.icon {
  width: 20px;
  height: 20px;
}

/* Hidden element  */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: var(--white-bgcolor);
}

.header .logo {
  margin-right: 92px;
}

.logo-web {
  color: var(--accent-color);
}

.header .logo-studio {
  color: var(--dark-color);
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.nav-link,
.header-contact {
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;
}

.nav-link {
  position: relative;
  color: var(--title-text-color);
}

.header-contact {
  color: var(--post-text-color);
}

.nav-list > .nav-item:not(:last-child),
.header-contacts > .header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-link:focus,
.header-contact:focus,
.nav-link:hover,
.header-contact:hover {
  color: var(--accent-color);
}

.nav-link,
.header-contact {
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

/* Current link  */
.current {
  color: var(--accent-color);
}
.current::before {
  position: absolute;
  bottom: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Hero */
.hero {
  background-color: var(--white-bgcolor);
  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title-container {
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 0 auto 35px;
  color: var(--white-color);
}

.btn-hero {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

/* Section plus */

.section-plus {
  padding-top: 94px;
  padding-bottom: 94px;
}

.plus-item {
  width: calc((1170px - 90px) / 4);
}

.plus-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--light-bgcolor);
  border-radius: 4px;
}

.plus-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.plus-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--post-text-color);
}
/* Section services */
.section-services {
  padding-bottom: 94px;
}

.services-list {
  justify-content: space-between;
}

.services-item {
  position: relative;
}

.services-item > img {
  display: block;
}

.services-div {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.div-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Our team  */
.section-team {
  padding: 94px 0;
  background-color: var(--light-bgcolor);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  padding-bottom: 30px;

  background-color: var(--white-bgcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  text-transform: unset;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-post {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--post-text-color);
}

.team-item .icon {
  fill: currentColor;
}
.social-link:focus,
.social-link:hover {
  color: var(--white-color);
}

/* Clients */
.section-client {
  padding: 94px 0;
  background-color: var(--white-bgcolor);
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);

  transition-property: border-color, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.client-logo {
  fill: currentColor;
}

.client-link:focus,
.client-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bgcolor);
}

.footer .container {
  display: flex;
}

.footer-section {
  margin-right: 85px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .logo-studio {
  color: var(--white-color);
}

.address-link {
  display: inline-block;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-contact {
  display: block;
  padding: 4px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-socials {
  margin-right: 93px;
}

.footer-title {
  margin: 14px 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-socials .social-link {
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.footer-socials .icon {
  fill: currentColor;
}

.social-link:focus,
.social-link:hover {
  background-color: var(--accent-color);
}

.subscribe-label.footer-title {
  display: block;
}

.subscribe_input_btn-block {
  display: flex;
}

.subscribe-input {
  display: inline-block;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  color: var(--white-color);
  background-color: var(--dark-bgcolor);

  transition-property: border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: var(--accent-color);
}

.subscribe-input:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
  --s: 24px;
  width: var(--s);
  height: var(--s);
  fill: currentColor;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.btn-hero:focus,
.btn-subscribe:focus,
.btn-hero:hover,
.btn-subscribe:hover {
  background-color: var(--accent-btn-color);
}

/* .footer-address,
.footer-contact:not(:last-child) {
  padding-bottom: 9px;
} */

/* Portfolio project */
.portfolio {
  padding: 94px 0;
}

.filter-list {
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  display: inline-block;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--light-bgcolor);

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.btn-filter:focus,
.btn-filter:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-bottom: 30px;

  background-color: var(--white-bgcolor);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-link,
.img-thumb > img {
  display: block;
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  /* outline: transparent; */
}

.portfolio-article {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.portfolio-post {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--post-text-color);
}
/* Portfolio animate */

.img-thumb {
  position: relative;
  overflow: hidden;
}

.img-thumb-animated {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition-property: box-shadow, transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.thumb-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-link:focus .img-thumb-animated,
.portfolio-link:hover .img-thumb-animated {
  transform: translateY(0);
}

/* Active button */
.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Modal */

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition-property: opacity, transform;
  transition-duration: 1000ms;
  transition-timing-function: var(--animation-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--white-bgcolor);
}

.modal-form {
  padding: 40px;
}

.btn-modal-close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  color: var(--dark-color);
  background-color: var(--white-bgcolor);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.btn-modal-close:focus,
.btn-modal-close:hover {
  color: var(--accent-color);
}

.icon-modal-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.input-wrapp {
  position: relative;
}

.icon-modal-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.form-heading {
  margin-top: 0;
  
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  color: var(--post-text-color);
}

.form-text a {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--post-text-color);
  cursor: pointer;
  outline: none;


  transition-property: border-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.modal-input:focus,
.modal-input:focus + .icon-modal-input {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.form-textarea {
  width: 100%;
  height: 7.5rem;
  padding: 0.75rem 1rem;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 0.25rem;
  color: var(--post-text-color);
  cursor: pointer;
  outline: none;
  resize: none;
}

.form-textarea:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

.checkbox {
  position: relative;
  margin-top: 20px;
}

.modal-form-checkbox {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-left: 37px;
}

.modal-form-checkbox::before {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.222 1.667v11.666H1.778V1.667h12.444zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0z' fill='%23212121'/%3e%3c/svg%3e");

  transition-property: background-image, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}
.modal-form-checkbox:hover::before {
  fill: var(--accent-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.222 1.667v11.666H1.778V1.667h12.444zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0z' fill='%232196F3'/%3e%3c/svg%3e");

}
.old-checkbox:focus + .modal-form-checkbox::before {
  fill: var(--accent-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.222 1.667v11.666H1.778V1.667h12.444zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0z' fill='%232196F3'/%3e%3c/svg%3e");
}
.old-checkbox:checked + .modal-form-checkbox::before {
  width: 16px;
  height: 16px;
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3e%3c/svg%3e");
  background-size: contain;
  background-origin: border-box;
  
  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.btn-modal {
  display: block;
  margin: 30px auto 0;
  padding: 10px 55px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-function);
}

.btn-modal:focus,
.btn-modal:hover {
  background-color: var(--accent-btn-color);
}
/* Test maketa */
/* * {
  outline: 1px solid tomato;
} */
