:root {
  --light-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --sec-background-color: #f5f4fa;

  --post-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --dark-color: #000000;
  --light-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;

  background-color: var(--light-background-color);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  text-align: center;
}

li {
  list-style: none;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  text-transform: uppercase;
}

h4 {
  color: var(--title-text-color);
}

p {
  color: var(--post-text-color);
}
/* Header */
.head {
  background-color: var(--light-background-color);
}

.logo-web {
  color: var(--accent-color);
}

.head .logo-studio {
  color: var(--dark-color);
}

.footer .logo-studio {
  color: var(--light-color);
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: ;

  letter-spacing: 0.03em;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}

.head-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: var(--post-text-color);
}

.head-contact:focus,
.head-contact:hover {
  color: var(--accent-color);
}

/* Slider */
.slider {
  background-color: var(--dark-background-color);
}

.title {
  color: var(--light-color);
}

.slider-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: var(--light-color);
  background-color: var(--accent-color);
}

.slider-button:focus,
.slider-button:hover {
  color: var(--accent-color);
}

/* Section plus */
.section-plus {
}
.plus-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.plus-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--post-text-color);
}
/* Section services */
.section-services {
}
/* Our team  */
.section-team {
  background-color: var(--sec-background-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--post-text-color);
}
/* Footer */
.footer {
  background-color: var(--dark-background-color);
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--light-color);
}

.footer-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio project */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--post-text-color);
}

.button-filter:focus,
.button-filter:hover {
  color: var(--light-color);
  background-color: var(--accent-color);
}
/* Current link  */
.current {
  color: var(--accent-color);
}

/* Active button */
.active {
  color: var(--light-color);
  background-color: var(--accent-color);
}
