
@import 'base/colors';
@import 'base/variables';
@import 'base/normalize';
@import 'base/defaults';
// @import 'utils/mixins';
// @import 'utils/placeholders';

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: $content-max-width;
}

.center {
  display: flex;
  align-items: center;
}
.section-heading {
  margin: 0 auto 50px;
}

.social-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 44px;
  height: 44px;
  border-radius: 44px;
  color: getColor('icon');

  transition: color, background-color $animation-type;
}

.icon {
  width: 20px;
  height: 20px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: getColor('main-bg');
}

.header .logo {
  margin-right: 92px;
}

.logo-web {
  color: getColor('accent');
}

.header .logo-studio {
  color: getColor('dark');
}

.logo-link {
  font-family: $second-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.nav-link,
.header-contact {
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;
}

.nav-link {
  position: relative;
  color: getColor('text');
}

.header-contact {
  color: getColor('post-text');
}

.nav-list > .nav-item:not(:last-child),
.header-contacts > .header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-link:focus,
.header-contact:focus,
.nav-link:hover,
.header-contact:hover {
  color: getColor('accent');
}

.nav-link,
.header-contact {
  transition: color $animation-type;
}

/* Current link  */
.current {
  color: getColor('accent');
}
.current::before {
  position: absolute;
  bottom: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: getColor('accent');
  border-radius: 2px;
}

/* Hero */
.hero {
  background-color: getColor('main-bg');
  text-align: center;
}

.hero-overlay {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title-container {
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 0 auto 35px;
  color: getColor('title');
}

.btn-hero {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  color: getColor('title');
  background-color: getColor('accent');
  box-shadow: $shadow-btn;

  transition: background-color $animation-type;
}

/* Section plus */

.section-plus {
  padding-top: 94px;
  padding-bottom: 94px;
}

.plus-item {
  width: calc((1170px - 90px) / 4);
}

.plus-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: getColor('second-bg');
  border-radius: 4px;
}

.plus-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;

  color: getColor('text');
}

.plus-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: getColor('post-text');
}
/* Section services */
.section-services {
  padding-bottom: 94px;
}

.services-list {
  justify-content: space-between;
}

.services-item {
  position: relative;
}

.services-item > img {
  display: block;
}

.services-div {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.div-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor('title');
}

/* Our team  */
.section-team {
  padding: 94px 0;
  background-color: getColor('second-bg');
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  width: 270px;
  padding-bottom: 30px;

  background-color: getColor('main-bg');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  text-transform: unset;
  letter-spacing: 0.03em;

  color: getColor('text');
}

.team-post {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: getColor('post-text');
}

.team-item .icon {
  fill: currentColor;
}
.social-link:focus,
.social-link:hover {
  color: getColor('title');
}

/* Clients */
.section-client {
  padding: 94px 0;
  background-color: getColor('main-bg');
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid getColor('icon');
  border-radius: 4px;

  color: getColor('icon');

  transition: border-color, color $animation-type;
}

.client-logo {
  fill: currentColor;
}

.client-link:focus,
.client-link:hover {
  color: getColor('accent');
  border-color: getColor('accent');
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('dark-bg');
}

.footer .container {
  display: flex;
}

.footer-section {
  margin-right: 85px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .logo-studio {
  color: getColor('title');
}

.address-link {
  display: inline-block;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: getColor('title');
}

.footer-contact {
  display: block;
  padding: 4px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-socials {
  margin-right: 93px;
}

.footer-title {
  margin: 14px 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  letter-spacing: 0.03em;

  color: getColor('title');
}

.footer-socials .social-link {
  background: rgba(255, 255, 255, 0.1);
  color: getColor('title');
}

.footer-socials .icon {
  fill: currentColor;
}

.social-link:focus,
.social-link:hover {
  background-color: getColor('accent');
}

.subscribe-label.footer-title {
  display: block;
}

.subscribe_input_btn-block {
  display: flex;
}

.subscribe-input {
  display: inline-block;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  color: getColor('title');
  background-color: getColor('dark-bg');

  transition: border-color $animation-type;
}

.subscribe-input:focus,
.subscribe-input:hover {
  border-color: getColor('accent');
}

.subscribe-input:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
  $s: 24px;
  width: $s;
  height: $s;
  fill: currentColor;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  color: getColor('title');
  background-color: getColor('accent');

  box-shadow: $shadow-btn;

  transition: background-color $animation-type;
}

.btn-hero:focus,
.btn-subscribe:focus,
.btn-hero:hover,
.btn-subscribe:hover {
  background-color: getColor('active-btn');
}

/* Portfolio project */

.portfolio {
  padding: 94px 0;
}

.filter-list {
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  display: inline-block;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  border-radius: 4px;

  color: getColor('text');
  background-color: getColor('second-bg');

  transition: color, background-color, box-shadow $animation-type;
}

.btn-filter:focus,
.btn-filter:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: getColor('title');
  background-color: getColor('accent');
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-bottom: 30px;

  background-color: getColor('main-bg');
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-link,
.img-thumb > img {
  display: block;
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-article {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.03em;

  color: getColor('text');
}

.portfolio-post {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: getColor('post-text');
}
/* Portfolio animate */

.img-thumb {
  position: relative;
  overflow: hidden;
}

.img-thumb-animated {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: box-shadow, transform $animation-type;
}

.thumb-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: getColor('title');
}

.portfolio-link:focus .img-thumb-animated,
.portfolio-link:hover .img-thumb-animated {
  transform: translateY(0);
}

/* Active button */
.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: getColor('title');
  background-color: getColor('accent');
}

/* Modal */

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity, transform 500ms $animation-function;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: getColor('main-bg');
}

.btn-modal-close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  color: getColor('dark');
  background-color: getColor('main-bg');
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color $animation-type;
}

.btn-modal-close:focus,
.btn-modal-close:hover {
  color: getColor('accent');
}

.icon-modal-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal-form {
  padding: 40px;
}

.icon-modal-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.form-heading {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: getColor('text');
}

.form-label {
  display: block;
  position: relative;
}

.form-label--margin {
  margin: 28px 0;
}

.form-text,
.form-coment {
  font-size: 12px;
  line-height: 1.2;

  letter-spacing: 0.01em;

  color: getColor('post-text');
}

.form-text {
  position: absolute;
  top: 50%;
  left: 35px;

  transform: translateY(-50%);
  transition: transform $animation-type;
}

.form-coment {
  display: block;
  margin: 10px 0 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 65px;
  border: $border;
  border-radius: 4px;
  color: getColor('post-text');
  outline: none;

  transition: border-color $animation-type;
}
.modal-input--padding {
  padding-left: 90px;
}
.modal-input:focus,
.modal-input:focus + .icon-modal-input {
  fill: getColor('accent');
  border-color: getColor('accent');
}

.form-label:focus-within > .form-text,
input:not(:placeholder-shown) + .form-text {
  /* color: getColor('accent'); */
  transform: translate(-35px, -40px);
}

.form-textarea {
  width: 100%;
  height: 7.5rem;
  padding: 0.75rem 1rem;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: $border;
  border-radius: 0.25rem;
  color: getColor('post-text');
  cursor: pointer;
  outline: none;
  resize: none;
}

.form-textarea:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
  border: 1px solid getColor('accent');
}

.checkbox {
  position: relative;
  margin-top: 20px;
}

.modal-form-checkbox {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-left: 37px;
}

.modal-form-checkbox::before {
  position: absolute;
  top: 50%;
  left: 12px;

  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: solid 2px getColor('text');
  border-radius: 2px;
  transform: translateY(-50%);
  transition: background-color, border-color $animation-type;
}

.modal-form-checkbox:hover::before {
  border: solid 2px getColor('accent');
  border-radius: 2px;
}

.old-checkbox:focus + .modal-form-checkbox::before {
  border: solid 2px getColor('accent');
  border-radius: 2px;
}

.old-checkbox:checked + .modal-form-checkbox::before {
  width: 16px;
  height: 16px;
  border-color: transparent;
  background-color: getColor('accent');
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3e%3c/svg%3e");
  background-size: contain;
  background-origin: border-box;

  transition: fill $animation-type;
}

.form-coment a {
  text-decoration: underline;
  color: getColor('accent');
}

.btn-modal {
  display: block;
  margin: 30px auto 0;
  padding: 10px 55px;

  color: getColor('title');
  background-color: getColor('accent');
  box-shadow: $shadow-btn;

  transition: background-color, box-shadow $animation-type;
}

.btn-modal:focus,
.btn-modal:hover {
  background-color: getColor('active-btn');
}