/* Footer */
.footer {
  @include paddings(60px);
    background-color: getColor('dark-bg');
  }
  
  .footer {
    .container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    @media screen and (min-width: $desktop) {
        flex-wrap: unset;
        justify-content: space-between;
        }
      }
    }
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      width: 50%;
    }
    @media screen and (min-width: $desktop) {
      align-items: flex-start;
    }
    // margin-right: 85px;
  }
  
  .address-link {
    display: inline-block;
    margin-bottom: 5px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;
  
    color: getColor('title');
  }
  
  .footer-contact {
    display: block;
    padding: 4px 0;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  
    letter-spacing: 0.02em;
  
    color: rgba(255, 255, 255, 0.6);
  
    @include transition();

    &:focus,
    &:hover {
      color: getColor('accent');
    }
  }

  
  
  .footer-socials {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    width: 50%;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: unset;
    align-items: flex-start;
  }
    // margin-right: 93px;
    .social-link {
      background: rgba(255, 255, 255, 0.1);
      color: getColor('title');
    }
    .icon {
      fill: currentColor;
    }
  }
  
  .footer-title {
    margin: 14px 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    letter-spacing: 0.03em;
  
    color: getColor('title');
  }

  .footer-subscribtion {
    display: flex;
  flex-direction: column;
  align-items: center;

    @media screen and (max-width: $max-tablet) {
      width: 100%;
    }

    @media screen and (min-width: $desktop) {
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  .subscribe-label {
    display: block;
    text-align: center;
  }
  
  .subscribe-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  
  .subscribe-input {
    display: inline-block;
    width: 100%;
    margin-right: 12px;
    margin-bottom: 20px;
    padding: 15px 16px;
  
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
  
    color: getColor('title');
    background-color: getColor('dark-bg');
  
    @include transition(border-color);

    @media screen and (min-width: $mobile) and (max-width: $max-tablet) {
      width: 450px;
    }
  
    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: unset;
      align-items: flex-start;
    }

    &:placeholder-shown {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus,
    &:hover {
      border-color: getColor('accent');
    }
  }
  
  .icon-send {
    margin-left: 10px;
    @include size(24px);
    fill: currentColor;
  }
  
  .btn-subscribe {
    @include centeredFlex();
    @include size(200px,50px);
  
    color: getColor('title');
    background-color: getColor('accent');
  
    box-shadow: $shadow-btn;
  
    @include transition(background-color);

    &:focus,
    &:hover {
      background-color: getColor('active-btn');
    }
  }





  