/* Section plus */

.section-plus {
  @include paddings(60px);
  @media screen and (min-width: $desktop) {
    @include paddings();
  }
}
.plus-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
.plus-item {
  width: 100%;
  @media screen and (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 90px) / 4);
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
}



.container-icon {
@include centeredFlex();
// 270px
  @include size(100%,120px);
  margin-bottom: 30px;

  background-color: getColor('second-bg');
  border-radius: 4px;
}

.plus-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  @media screen and (max-width: $max-mobile) {
    text-align: center;
  }


  color: getColor('text');
}

.plus-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: getColor('post-text');
}
