/* Hero */
.hero {
  background-color: getColor('main-bg');
  text-align: center;
  margin-top: 60px;
  @media screen and (min-width: $tablet) {
  margin-top: 80px;
  }
}

.hero-overlay {
  max-width: $page-max-width;
  margin: 0 auto;
  @include paddings(118px);
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $max-mobile) {
    width: 100%;

    height: 400px;
      @include heroBgImage('../../images/hero/jpg/hero__m.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include heroBgImage('../../images/hero/jpg/hero__m@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      @include heroBgImage('../../images/hero/jpg/hero__m@3x.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    max-width: 768px;
    height: 400px;
      @include heroBgImage('../../images/hero/jpg/hero__t.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include heroBgImage('../../images/hero/jpg/hero__t@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      @include heroBgImage('../../images/hero/jpg/hero__t@3x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    @include paddings(200px);
    width: 100%;
    max-width: 1600px;
    height: 600px;
      @include heroBgImage('../../images/hero/jpg/hero__d.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include heroBgImage('../../images/hero/jpg/hero__d@2x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      @include heroBgImage('../../mages/hero/jpg/hero__d@3x.jpg');
    }
  }
}

.hero-title-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: $mobile) {
    width: 360px;
  }
  @media screen and (min-width: $desktop) {
    width: 696px;
  }
}

.title {
  font-size: 26px;
  line-height: 1.61;

  color: getColor('title');
  @media screen and (min-width: $desktop) {
  font-size: 44px;
  line-height: 1.36;
  }
}

.btn-hero {
  margin:  30px auto 0;
  padding: 10px 32px;

  color: getColor('title');
  background-color: getColor('accent');
  box-shadow: $shadow-btn;

  @include transition(background-color);

  &:focus,
  &:hover {
  background-color: getColor('active-btn');
  }
}

