/* Hero */
.hero {
  background-color: getColor('main-bg');
  text-align: center;
}

.hero-overlay {
  max-width: $page-max-width;
  margin: 0 auto;
  @include paddings(200px);
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title-container {
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 0 auto 35px;
  color: getColor('title');
}

.btn-hero {
  margin: 0 auto;
  padding: 10px 32px;

  color: getColor('title');
  background-color: getColor('accent');
  box-shadow: $shadow-btn;

  @include transition(background-color);

  &:focus,
  &:hover {
  background-color: getColor('active-btn');
  }
}

