/* Section services */
.section-services {
  @media not screen and (min-width: $desktop) {
    display: none;
  }
  padding-bottom: 94px;
}

.services-list {
  justify-content: space-between;
}

.services-item {
  position: relative;
}

.services-div {
  position: absolute;
  bottom: 0;
  @include centeredFlex();
  @include size(100%,70px);

  background: rgba(47, 48, 58, 0.8);
}

.div-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor('title');
}
