// палитра цветов сайта
$color: (
  'accent': #2196f3,
  // Text color
  'post-text': #757575,
  'title': #ffffff,
  'text': #212121,
  'dark': #000000,
  // SVG icon color
  'icon': #afb1b8,
  // Background color
  'main-bg': #ffffff,
  'dark-bg': #2f303a,
  'second-bg': #f5f4fa,
  // Button active color
  'active-btn': #188ce8,
);

@function getColor($key) {
  @return map-get($color, $key),
}
